$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Amatic SC', cursive;
$navbar_font: 'Lobster Two', cursive;


$primary_accent_color: #4A3020;
$secondary_accent_color: #319863;
$btn_hover_color: #9DE066;
