@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lobster+Two:400i|Open+Sans');
@import 'partials/variables', 'partials/header', 'partials/footer';

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  h1, h2, h3, h4, h5, h6 {
    color: $secondary_accent_color;
  }
  .main-container {
    padding-bottom: 5%;
    min-height: 500px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
}

//homepage styles
.home-container {
  margin-top: 6em;
}
.home-button {
  background-color: $secondary_accent_color;
  padding: 30px 60px;
  margin-right: 30px;
  border-radius: 10px;
  &:hover {
    background-color: $btn_hover_color;
  }
  a {
    font: bold 24px $secondary_font;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

//Form Styles
form {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-bottom: 30px;
  padding-top:30px;
  input[type = "checkbox"] {
    margin: .75em;
  }
  h4 {
    font-family: $secondary_font;
    font-weight: bold;
    color: $secondary_accent_color;
    font-size: 32px;
    margin-top: 1em;
  }
  label {
    font-family: $secondary_font;
    font-size: 20px;
    font-weight: bold;
  }
  .grow-form {
    max-width: 600px;
    margin: 0 auto !important; //Find a way to do this without using important
  }
  #goal-button {
    background-color: $secondary_accent_color;
    padding: 10px 15px;
    border-radius: 10px;
  }
}
