@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lobster+Two:400i|Open+Sans');
@import 'partials/variables', 'partials/header', 'partials/footer', 'partials/form', 'partials/homepage', 'partials/goal', 'partials/task';

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  h1, h2, h3, h4, h5, h6 {
    color: $secondary_accent_color;
  }
  .main-container {
    padding-bottom: 5%;
    min-height: 500px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    h1 {
      font-family: $secondary_font;
      font-weight: bold;
      font-size: 5em;
    }
  }
}

.back-button {
  display: -webkit-box;
}

.button a {
  color: white;
}
